@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --dark: hsl(0, 0%, 10%);
  --dark-a80: hsla(0, 0%, 10%, 0.8);
  --dark-a40: hsla(0, 0%, 10%, 0.4);
  --light: hsl(0, 0%, 90%);
  --light-a80: hsla(0, 0%, 90%, 0.8);
  --violet: hsl(270, 45%, 50%);
  --violet-a40: hsla(270, 45%, 50%, 0.4);
  --violet-a80: hsla(270, 45%, 50%, 0.8);
  --violet-dark: hsl(271, 100%, 25%);
  --violet-dark-a40: hsla(271, 100%, 25%, 0.4);
  --violet-dark-a80: hsla(271, 100%, 25%, 0.8);
  --headerH: 5rem;
  
}
html {
  scroll-behavior: smooth;
}
body {
  min-width: 400px;
  box-sizing: border-box;
  padding: 0rem;
  margin: 0rem;
  text-decoration: none;
  list-style: none;
  font-family: var(--abel-font), "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 400;
}
nav {
  min-width: 400px;
}
.blob {
  height: 20rem;
  width: 20rem;
  border-radius: 55% 45% 35% 65% / 33% 50% 50% 67%;
}
.blob2 {
  height: 27rem;
  width: 26rem;
  border-radius: 50% 40% 30% 60% / 50% 40% 50% 40%;
  right: 0;
  transform: translateX(30rem);
  bottom: 8rem;
}
.blob3 {
  height: 8rem;
  width: 8rem;
  border-radius: 37% 63% 84% 16% / 53% 39% 61% 47%;
  bottom: 8rem;
}
h2#hero-heading:nth-child(10) {
  color:aqua !important;
}