.spinner {
    display: flex;
    height: 4rem;
    width: 2rem;
    justify-content: space-between;
}
.left{
    background-color: white;
    width: 0.5rem;
    height: 4rem;
    animation: pendulumFromTop 1s cubic-bezier(0.2, 1.5, 0.2, 0.4) infinite ;
  }
.center {
background-color: white;
width: 0.5rem;
height: 4rem;
animation: pendulumFromCenter 1.5s cubic-bezier(0.2, 1.5, 0.2, 0.4) infinite ;
}
.right {
background-color: white;
width: 0.5rem;
height: 4rem;
animation: pendulumFromBottom 1s cubic-bezier(0.2, 1.5, 0.2, 0.4) infinite ;
}
@keyframes pendulumFromTop {
   0%, 100% {
        transform: translateY(-50%);
    }
    50% {
        transform: translateY(50%);
       
    }
}
@keyframes pendulumFromCenter {
    33% {
        transform: translateY(50%);

    }
    0%, 100% {
        transform: translateY(-50%);
       
    }
}
@keyframes pendulumFromBottom {
    0%, 100% {
         transform: translateY(50%);

     }
     50% {
         transform: translateY(-50%);
        
     }
 }
 