.spinner {
    border: solid 4px;
    border-color: white transparent white transparent;
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
   100% {
        transform: rotate(360deg);
    }
}
